.container {
    height: 100vh;
}

.line-button {
    margin-right: 1em;
}

h2.subtitle {
    font-size: smaller;
    font-style: italic;
    margin-top: -1em;
    margin-bottom: 2em;
}

div.disabled > div > input {
    border-color:red;
    background-color: lightgray;
}

input.round-number {
    width: 3em;
}

span.round-number {
    width: 3em;
}

div.round-number > div > button {
    margin-top: -.4rem;
}

div.round-number > div > input {
    margin-top: -.4rem;
}

div.round-number > div > span {
    margin-top: -.25rem;
}

body.about {
    width: 80%;
    margin: 0 auto;
}

body.tutorial {
    width: 80%;
    margin: 0 auto;
}

div.table-header {
    text-align: center;
    font-weight: bold;
    margin-top: 2em;
}

textarea.data-import-export {
    width: 100%;
    margin-top: 1em;
}

.error-message {
    font-weight: bold;
    color: darkred;
}

section.navbar-section a {
    margin-right: 2em;
}

.kbd-nav {
    padding-left: 1.5em;
}

div.lightmode {
    background-color: white;
    color: black;
}

div.lightmode input,button {
    background-color: white;
    color: #5755d9;
}

div.darkmode {
    background-color: black;
    color: white;
}

div.darkmode input {
    background-color: grey;
    color: white;
    border-color: darkgray;
}

div.darkmode button {
    background-color: grey;
    color: white;
    border-color: darkgray;
}

div.darkmode i {
    color: white;
}

div.darkmode button:hover {
    background-color: lightgray;
    color: black !important;
}

div.darkmode button:hover i {
    color:  white;
}

div.darkmode button:focus {
    background-color: grey;
}

div.darkmode button:focus i {
    color: white;
}

div.darkmode select {
    background-color: grey !important;
    color: white !important;
}

div.darkmode section.navbar-section > a {
    color: lightgray;
}

div.darkmode div.modal-container {
    background-color: black;
}

div.darkmode div.modal-title {
    color: lightgray;
}

div.darkmode textarea {
    color: white;
    background-color: black;
}

div.darkmode div.modal-header a {
    color: lightgray;
}

div.darkmode div.disabled input {
    background-color: darkred;
}