.line-button {
    margin-right: 1em;
}

h2.subtitle {
    font-size: smaller;
    font-style: italic;
    margin-top: -1em;
    margin-bottom: 2em;
}

div.disabled > div > input {
    border-color:red;
    background-color: lightgray;
}

input.round-number {
    width: 3em;
}

span.round-number {
    width: 3em;
}

div.round-number > div > button {
    margin-top: -.4rem;
}

div.round-number > div > input {
    margin-top: -.4rem;
}

div.round-number > div > span {
    margin-top: -.25rem;
}

body.about {
    width: 80%;
    margin: 0 auto;
}

body.tutorial {
    width: 80%;
    margin: 0 auto;
}

div.table-header {
    text-align: center;
    font-weight: bold;
    margin-top: 2em;
}

textarea.data-export {
    width: 100%;
    margin-top: 1em;
}