<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="dorounds.css">
    <title>Do Rounds</title>
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="about.html" class="btn btn-link">about</a>
            <a href="tutorial/tutorial.html">tutorial</a>
            <a href="https://github.com/adamcrossland/dorounds" class="btn btn-link">github</a>
            <a href="https://crossland.dev" class="btn btn-link">author</a>
        </section>
    </header>
    <div id="app" class="container">
        <h1>Do Rounds</h1>
        <h2 class="subtitle">a tool for 5e DMs to make enconters easier</h2>
        <div class="columns">
            <div class="column col-2">
                <select class="form-select" @change="currentSessionChanged($event)" v-model="currentSession"
                    v-if="!currentSession.currentlyEditingName" id="sessionSelection">
                    <option v-for="(session, index) in sessions" v-bind:value="session">{{ session.name }}
                    </option>
                </select>
                <input class="form-input" v-if="currentSession.currentlyEditingName" v-model="currentSession.name"
                    v-on:keyup.13="currentSession.toggleNameEditing" v-focus>
            </div>
            <div class="column col-3">
                <button class="btn" v-if="!currentSession.currentlyEditingName" title="Edit Name"
                    v-on:click="currentSession.toggleNameEditing" aria-label="Edit Name">Edit</button>
                <button class="btn" v-if="currentSession.currentlyEditingName" title="Save Name"
                    v-on:click="currentSession.toggleNameEditing" aria-label="Save Name">Save</button>
                <button class="btn" v-on:click="currentSession.sortLines" v-if="!currentSession.currentlyPlaying"
                    aria-label="Sort Lines" title="Sort Lines">
                    <i class="icon icon-resize-vert"></i>
                </button>
                <button class="btn" v-on:click="currentSession.clone" v-if="!currentSession.currentlyPlaying"
                    aria-label="Clone Encounter" title="Clone Encounter">
                    <i class="icon icon-arrow-down"></i>
                </button>
                <button class="btn" v-if="!currentSession.currentlyPlaying"
                    v-on:click="deleteCurrentSession" role="button" aria-label="Delete Encounter"
                    title="Delete Encounter">
                    <i class="icon icon-delete"></i>
                </button>
                <button class="btn" v-if="!currentSession.currentlyPlaying"
                    v-on:click="exportdata" role="button" aria-label="Export Data"
                    title="Export Data">
                    <i class="icon icon-download"></i>
                </button>
                <button class="btn" v-if="!currentSession.currentlyPlaying"
                    v-on:click="showimportdata" role="button" aria-label="Import Data"
                    title="Import Data">
                    <i class="icon icon-upload"></i>
                </button>
            </div>
            <div class="column col-1">
                <button class="btn" v-if="!currentSession.currentlyPlaying" title="Start Playing"
                    v-on:click="currentSession.togglePlaying" aria-label="Start Play">Start
                </button>
                <button class="btn" v-if="currentSession.currentlyPlaying" title="Stop Playing"
                    v-on:click="currentSession.togglePlaying" aria-label="Start Play">Stop
                </button>
            </div>
            <div class="column col-2" v-if="currentSession.currentlyPlaying">
                <div class="form-horizontal round-number">
                    <div class="form-group">
                        <span v-if="currentSession.currentlyPlaying">Round&nbsp;</span>
                        <span class="round-number"
                            v-if="currentSession.currentlyPlaying && !currentSession.currentlyEditingRound">{{
                            currentSession.currentRound }}</span>
                        <input class="form-input round-number" type="number" min="1" aria-label="Round Number"
                            v-if="currentSession.currentlyPlaying && currentSession.currentlyEditingRound"
                            v-model="currentSession.currentRound" v-focus
                            v-on:keyup.enter="currentSession.toggleRoundEditing" />
                        <button class="btn"
                            v-if="currentSession.currentlyPlaying && !currentSession.currentlyEditingRound"
                            title="Edit Round" aria-label="Edit Round" v-on:click="currentSession.toggleRoundEditing">
                            <i class="icon icon-edit"></i>
                        </button>
                        <button class="btn"
                            v-if="currentSession.currentlyPlaying && currentSession.currentlyEditingRound"
                            title="Save Round" aria-label="Save Round" v-on:click="currentSession.toggleRoundEditing">
                            <i class="icon icon-edit"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="column col-2" v-if="!currentSession.currentlyPlaying">
                <button class="btn" title="Auto-roll Initiative" aria-label="Auto-roll Initiative"
                    v-on:click="currentSession.autoRollInitiative">
                    Auto-roll
                </button>
            </div>
            <div class="column col-4"></div>
            <div class="column col-12 kbd-nav" v-show="currentSession.currentlyPlaying">
                <kbd>Esc</kbd> = exit Playing mode; <kbd>Tab</kbd> = move to next HP field;
                <kbd>Space</kbd> = move to next line
            </div>
            <div class="column col-1 table-header">Initiative</div>
            <div class="column col-2 table-header">Name</div>
            <div class="column col-1 table-header">HP</div>
            <div class="column col-1 table-header">AC</div>
            <div class="column col-1 table-header">To Hit Bonus</div>
            <div class="column col-6"></div>
            <div class="column col-12">
                <div class="form-horizontal" v-for="(line, index) in currentSession.lines">
                    <div class="form-group"
                        v-bind:class="{ 'disabled': currentSession.currentlyPlaying && line.disabled }">
                        <div class="column col-1">
                            <input class="form-input" type="text" v-model.number="line.initiative" @change="saveData"
                                aria-label="Initiative" v-focus autocomplete="off" placeholder="Init." />
                        </div>
                        <div class="column col-2">
                            <input class="form-input" type="text" v-model="line.name" @change="saveData"
                                aria-label="Name" autocomplete="off" placeholder="Name" />
                        </div>
                        <div class="column col-1">
                            <input class="form-input" type="number" ref="hitpoints" v-model.number="line.hp"
                                @change="hitpointschanged(index)" aria-label="Hit Points" autocomplete="off"
                                placeholder="HP" :id="`line-${index}`"/>
                        </div>
                        <div class="column col-1">
                            <input class="form-input" type="number" v-model="line.ac" @change="saveData"
                                aria-label="Armor Class" autocomplete="off" placeholder="AC" />
                        </div>
                        <div class="column col-1">
                            <input class="form-input" type="number" v-model="line.hitbonus" @change="saveData"
                                aria-label="To Hit Bonus" autocomplete="off" placeholder="+hit" />
                        </div>
                        <div class="column col-2">
                            <button class="btn line-button"
                                v-if="currentSession.isLastLine(index) && !currentSession.currentlyPlaying"
                                v-on:click="currentSession.newLine" role="button" aria-label="Add New Line"
                                title="Add New Line">
                                <i class="icon icon-plus"></i>
                            </button>
                            <button class="btn line-button"
                                v-if="currentSession.isLastLine(index) && !currentSession.currentlyPlaying"
                                v-on:click="currentSession.cloneLine" role="button" aria-label="Clone to New Line"
                                title="Clone to New Line">
                                <i class="icon icon-arrow-down"></i>
                            </button>
                            <button class="btn line-button" v-if="currentSession.currentlyPlaying && !line.disabled"
                                v-on:click="currentSession.toggleLinedisabled(index)" role="button"
                                aria-label="Disable Line" title="Disable Line">
                                <i class="icon icon-cross"></i>
                            </button>
                            <button class="btn line-button" v-if="currentSession.currentlyPlaying && line.disabled"
                                v-on:click="currentSession.toggleLinedisabled(index)" role="button"
                                aria-label="Enable Line" title="Enable Line">
                                <i class="icon icon-plus"></i>
                            </button>
                            <button class="btn line-button" v-if="!currentSession.currentlyPlaying"
                                v-on:click="currentSession.deleteLine(index)" role="button" aria-label="Delete Line"
                                title="Delete Line">
                                <i class="icon icon-delete"></i>
                            </button>
                            <i class="icon icon-arrow-left"
                                v-show="currentSession.currentlyPlaying && currentSession.activeLine == index"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="deleteSessionConfirmation" v-bind:class="{ active: deleteSessionDialogOpen }">
            <a href="#close" class="modal-overlay" v-on:click="cancelDeleteSession" title="Close"
                aria-label="Close"></a>
            <div class="modal-container">
                <div class="modal-header">
                    <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
                    <div class="modal-title h5">Delete this Encounter?</div>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="h6">
                            Delete this Encounter? <b>This action cannot be
                                undone.</b>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" v-on:click="confirmDeleteSession">Yes</button>
                    <button class="btn btn-primary" v-on:click="cancelDeleteSession">No</button>
                </div>
            </div>
        </div>
        <div class="modal" id="exportDataDialog" v-bind:class="{ active: exportDataDialogOpen }">
            <a href="#close" class="modal-overlay" v-on:click="closeExportDataDialog" title="Close"
                aria-label="Close"></a>
            <div class="modal-container">
                <div class="modal-header">
                    <a href="#close" class="btn btn-clear float-right" v-on:click="closeExportDataDialog" aria-label="Close"></a>
                    <div class="modal-title h5">Export Data</div>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="h6">
                            Copy this data.
                        </div>
                        <textarea class="data-import-export" rows="5" readonly wrap="hard" v-model="dataExport"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="importDataDialog" v-bind:class="{ active: importDataDialogOpen }">
            <a href="#close" class="modal-overlay" v-on:click="closeImportDataDialog" title="Close"
                aria-label="Close"></a>
            <div class="modal-container">
                <div class="modal-header">
                    <a href="#close" class="btn btn-clear float-right" v-on:click="closeImportDataDialog" aria-label="Close"></a>
                    <div class="modal-title h5">Import Data</div>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="h6">
                            Paste your exported data here and click the Import button.
                        </div>
                        <div class="text-warning">
                            Please note that importing data will entirely overwrite any 
                            encounters that currently exist, and that data will not be 
                            recoverable.
                        </div>
                        <textarea class="data-import-export" rows="5" wrap="hard" v-model="dataImport"></textarea>
                        <div class="error-message" v-show="dataImportError">{{ dataImportError }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" v-on:click="importdata" v-bind:disabled="dataImport.length == 0">Import</button>
                    <button class="btn btn-primary" v-on:click="closeImportDataDialog">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script src="vue.min.js"></script>
    <script src="dorounds.js"></script>
</body>

</html>